<c-row>
  <c-col xs="12">
    
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Renovacion</strong> <small>Solicitud</small>
      </c-card-header>
    <!---------------------------------Datos del Solicitante.----------------------------------------------------->  
      <c-card-body>
        <p class="text-medium-emphasis small">
          Datos del Solicitante.
        </p>
        <app-docs-example href="forms/layout#gutters">
          <form cForm class="row g-3">
            <c-col xs="12">
              <label cLabel for="inputAddress">Nombre Conmpleto</label>
              <input cFormControl id="inputAddress" placeholder="Nombre Conmpleto" />
            </c-col>
            <c-col md="6">
              <label cLabel for="inputEmail4">RTN*</label>
              <input cFormControl id="inputEmail4" type="email" />
            </c-col>
            <c-col md="6">
              <label cLabel for="inputEmail4">DNI*</label>
              <input cFormControl id="inputEmail4" type="email" />
            </c-col>
            <c-col md="6">
              <label cLabel for="inputPassword4">Correo Electrónico:*</label>
              <input cFormControl id="inputPassword4" type="password" />
            </c-col>
            <c-col md="6">
              <label cLabel for="inputPassword4">Número de Teléfono:*</label>
              <input cFormControl id="inputPassword4" type="password" />
            </c-col>
          
            <c-col xs="12">
              <label cLabel for="inputAddress2">DIRECCIÓN</label>
              <input cFormControl id="inputAddress2" placeholder="Apartment, studio, or floor" />
            </c-col>
           
           
          </form>

<!---------------------------------Información de la empresa----------------------------------------------------->  


        </app-docs-example>
        <p class="text-medium-emphasis small">
          Información de la empresa
        </p>
        <app-docs-example href="forms/layout#gutters">
          <form cForm class="row g-3">
            <c-col xs="12">
              <label cLabel for="inputAddress">Nombre Conmpleto</label>
              <input cFormControl id="inputAddress" placeholder="Nombre Conmpleto" />
            </c-col>
            <c-col md="6">
              <label cLabel for="inputEmail4">RTN*</label>
              <input cFormControl id="inputEmail4" type="email" />
            </c-col>
            <c-col md="6">
              <label cLabel for="inputEmail4">DNI*</label>
              <input cFormControl id="inputEmail4" type="email" />
            </c-col>
            <c-col md="6">
              <label cLabel for="inputPassword4">Correo Electrónico:*</label>
              <input cFormControl id="inputPassword4" type="password" />
            </c-col>
            <c-col md="6">
              <label cLabel for="inputPassword4">Número de Teléfono:*</label>
              <input cFormControl id="inputPassword4" type="password" />
            </c-col>
          
            <c-col xs="12">
              <label cLabel for="inputAddress2">DIRECCIÓN</label>
              <input cFormControl id="inputAddress2" placeholder="Apartment, studio, or floor" />
            </c-col>
           
            
          </form>
        </app-docs-example>
<!---------------------------------Datos del apoderado legal----------------------------------------------------->  


        
        <p class="text-medium-emphasis small">
          Datos del apoderado legal
        </p>
        <app-docs-example href="forms/layout#gutters">
          <form cForm class="row g-3">
            <c-col xs="12">
              <label cLabel for="inputAddress">Nombre Conmpleto</label>
              <input cFormControl id="inputAddress" placeholder="Nombre Conmpleto" />
            </c-col>
            <c-col md="6">
              <label cLabel for="inputEmail4">RTN*</label>
              <input cFormControl id="inputEmail4" type="email" />
            </c-col>
            <c-col md="6">
              <label cLabel for="inputEmail4">DNI*</label>
              <input cFormControl id="inputEmail4" type="email" />
            </c-col>
            <c-col md="6">
              <label cLabel for="inputPassword4">Correo Electrónico:*</label>
              <input cFormControl id="inputPassword4" type="password" />
            </c-col>
            <c-col md="6">
              <label cLabel for="inputPassword4">Número de Teléfono:*</label>
              <input cFormControl id="inputPassword4" type="password" />
            </c-col>
          
            <c-col xs="12">
              <label cLabel for="inputAddress2">DIRECCIÓN</label>
              <input cFormControl id="inputAddress2" placeholder="Apartment, studio, or floor" />
            </c-col>
           
            
          </form>
        </app-docs-example>

        <p class="text-medium-emphasis small">
          Información Documental
        </p>
        <div class="mb-3">
          <label cLabel for="formFileMultiple">Requisitos Generales</label>
          <input cFormControl id="formFileMultiple" multiple type="file" />
        </div>
        <div class="mb-3">
          <label cLabel for="formFileMultiple">Documentos Junta Direcctiva/Direector/Gerente/Consejo de Adminstracion o Administrador Único</label>
          <input cFormControl id="formFileMultiple" multiple type="file" />
        </div>
        <div class="mb-3">
          <label cLabel for="formFileMultiple">Documentos de solicitante</label>
          <input cFormControl id="formFileMultiple" multiple type="file" />
        </div>
        <div class="mb-3">
          <label cLabel for="formFileMultiple">Personal Administrativo</label>
          <input cFormControl id="formFileMultiple" multiple type="file" />
        </div>
        <div class="mb-3">
          <label cLabel for="formFileMultiple">Personal Administrativo</label>
          <input cFormControl id="formFileMultiple" multiple type="file" />
        </div>



        <c-col xs="12">
          <button cButton type="submit" >Enviar</button>
        </c-col>

      </c-card-body>
    </c-card>
  </c-col>

 
  
</c-row>
