<!DOCTYPE html>
<html lang="es-es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>SICOES-DICSPS-AUTOGESTION</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/PLANTILLA/PLANTILLA/images/favicon.ico">
    <!-- Form step -->
    <link href="/src/vendor/jquery-steps/css/jquery.steps.css" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="/src/css/style.cssS" rel="stylesheet">

</head>
<body>
<!--**********************************
            Content body start
        ***********************************-->
       
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Bienvenido, Oscar Meza Nueva Solicitud de Vehiculo</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="./InfoTramites.html">Home</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Nueva Solicitud de Vehiculo</h4>
                            </div>
                            <div class="card-body">
                                <form action="#" id="step-form-horizontal" class="step-form-horizontal">
                                    <div>
                                        <h4>Datos del Solicitante</h4>
                                        <section style="height: 770px !important;">
                                            <h3>Datos del Solicitante</h3>
                                            <div class="row">
                                                
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">Nombre completo*</label>
                                                        <input type="text" name="firstName" class="form-control" >
                                                    </div>
                                                </div>
                                                
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">RTN *</label>
                                                        <input type="text" name="firstName" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">DNI *</label>
                                                        <input type="text" name="firstName" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">Correo Electrónico: *</label>
                                                        <input type="email" name="firstName" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">Número de Teléfono*</label>
                                                        <input type="text" name="firstName" class="form-control">
                                                    </div>
                                                </div>
                                                
                                                

                                               
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">Departamento*</label>
                                                        <input type="text" name="firstName" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">Municipio</label>
                                                        <input type="text" name="firstName" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">Dirección*</label>
                                                        <input type="text" name="" class="form-control" >
                                                    </div>
                                                </div>
                                            </div>
                                            <section>

                                                <h3 style="width: 100%;">Datos del apoderado legal</h3>
                                                <div class="row">
                                                    <div class="col-lg-6 mb-4">
                                                        <div class="form-group">
                                                            <label class="text-label">DNI*</label>
                                                            <input type="text" name="firstName" class="form-control" >
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 mb-4">
                                                        <div class="form-group">
                                                            <label class="text-label">Nombre completo*</label>
                                                            <input type="text" name="firstName" class="form-control" >
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-lg-6 mb-4">
                                                        <div class="form-group">
                                                            <label class="text-label">Correo Electrónico*</label>
                                                            <input type="text" name="firstName" class="form-control" >
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 mb-4">
                                                        <div class="form-group">
                                                            <label class="text-label">Número de Teléfono*</label>
                                                            <input type="text" name="firstName" class="form-control" >
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 mb-4">
                                                        <div class="form-group">
                                                            <label class="text-label">Número de colegiación*</label>
                                                            <input type="text" name="firstName" class="form-control" >
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </section>

                                        <h4>Información de la empresas</h4>
                                        <section style="height: 770px !important;">
                                            <h3>Información de la empresa</h3>
                                            <div class="row">
                                                <div class="form-group">
                                                    
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">RTN *</label>
                                                        <input type="text" name="firstName" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">Nombre*</label>
                                                        <input type="text" name="firstName" class="form-control" >
                                                    </div>
                                                </div>                                                
                                                
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">Correo Electrónico: *</label>
                                                        <input type="email" name="firstName" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">Número de Teléfono*</label>
                                                        <input type="text" name="firstName" class="form-control">
                                                    </div>
                                                </div>
                                              
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">Departamento*</label>
                                                        <input type="text" name="firstName" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">Municipio</label>
                                                        <input type="text" name="firstName" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">Dirección*</label>
                                                        <input type="text" name="" class="form-control" >
                                                    </div>
                                                </div>
                                            </div>
                                        </section>



                                        <h4>Información Documental</h4>
                                        <section>
                                            <h3 style="width: 100%;">Carnet</h3>
                                            <div class="row">
                                                <div class="flip-card" >
                                                    <div class="flip-card-inner">
                                                      <div class="flip-card-front">
                                                        <img src="images/1.png"  style="width:500px;height:250px;">

                                                      </div>
                                                      <div class="flip-card-back">
                                                        <img src="images/2.png"  style="width:500px;height:250px;">

                                                      </div>
                                                    </div>
                                                  </div>

                                            </div>
                                        </section>


                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        <!--**********************************
            Content body end
        ***********************************-->

        <script src="./vendor/global/global.min.js"></script>
        <script src="./js/quixnav-init.js"></script>
        <script src="./js/custom.min.js"></script>
        
    
    
        <script src="./vendor/jquery-steps/build/jquery.steps.min.js"></script>
        <script src="./vendor/jquery-validation/jquery.validate.min.js"></script>
        <!-- Form validate init -->
        <script src="./js/plugins-init/jquery.validate-init.js"></script>
    
    
    
        <!-- Form step init -->
        <script src="./js/plugins-init/jquery-steps-init.js"></script>


</body>

</html>
