<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <app-docs-callout href="components/table" name="Table"></app-docs-callout>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Modificacion</strong> <small>de vehiculos</small>
      </c-card-header>
      <c-card-body>
       
        <app-docs-example href="components/table">
          <table cTable>
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">BENEFICIARIO</th>
              <th scope="col">MARCA</th>
              <th scope="col">MODELO</th>
              <th scope="col">PLACA</th>
              <th scope="col">FECHA EXP</th>
              <th scope="col">CAMBIO A REALIZAR</th>
             
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Marcos</td>
              <td>TOYOTA</td>
              <td>HILLUX</td>
              <td>HV34GSD</td>
              <td>JUN 24-2024</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Edwin</td>
              <td>TOYOTA</td>
              <td>HILLUX</td>
              <td>HV34GSD</td>
              <td>JUN 24-2024</td>
              <td></td>
            </tr>
            
            </tbody>
          </table>
        </app-docs-example>



      </c-card-body>
    </c-card>
  </c-col>





</c-row>
